* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    max-width: 100%;
    max-height: 100%;
    font-family: sans-serif;
    color: rgb(37, 30, 30);
}

body {
    background-image: url('image1_blurred.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    max-height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 70px;
    line-height: 60px;
    width: 100%;
    font-size: 35px;
    font-weight: 900;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: white;
    color: black;
    padding: 5px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: 100%;
    width: 100%;
    gap: 30px;
}

li {
    width: 100%;
    text-align: center;
}
section p {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    padding: 5px;
    text-decoration: underline;
}
fieldset{
    background-color: rgba(5, 26, 19, 0.511);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-weight: 700;
    padding: 30px;
}
.div2{
    display: flex;
    flex-direction: column;
}
.cent{
    line-height: 20px;
    padding: 1.5em 0 0 0;
    width: 70%;
}
img{
    height: 100px;
    width: 100px;
    margin-top: 15px;
}
@media (max-width:1010px) {
    header {
        font-size: 26px
    }
}

@media (max-width:779px) {
    header {
        font-size: 20px;
    }
}


@media (max-width:642px) {

    header {
        flex-direction: column;
        line-height: 30px;
        gap: 10px;
    }

    div p {
        text-align: center;
        padding: 5px;
    }
}

@media (max-width:420px) {
    ul {
        max-width: 50%;
        width: 90%;
        font-size: 18px;
        gap: 22px;
    }
}
@media (max-width:700px){
    fieldset{
        width: 100%;
        flex-flow: wrap;
        justify-content: space-evenly;
    }
}
@media (max-width:750px) {
    fieldset {
        width: 100%;
        max-width: 100%;
    }
}